.transparent-header {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha for transparency */
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header-content form {
  align-content: center;
}
.search-bar {
  width: 100%;
}
.search-bar input {
  border-radius: 0.6rem 0 0 0.6rem;
}
.search-bar button {
  border-radius: 0 0.6rem 0.6rem 0;
}
