.login-container {
  display: flex;
}

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.login p {
  margin: 0.7rem;
  text-align: center;
}

.login .form {
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}

.login .form label {
  margin-top: 1rem;
}

.login .form input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

.login .btn {
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.login .btn-submit {
  background-color: #4a90e2;
  color: white;
  font-weight: 600;
}

.login .btn-submit:hover {
  background-color: #0d6efd;
}
