<div class="container-fluid">
    <section class="table-responsive" id="cartList">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="itemCode" scope="col">#</th>
                    <th class="itemTitle" scope="col">Title</th>
                    <th class="itemUPrice" scope="col">Unit Price</th>
                    <th class="itemQty" scope="col">Qty</th>
                    <th class="itemPrice" scope="col">Price</th>
                    <th class="itemAction" scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="!isEmptyCart(); else emptyCart">
                <tr *ngFor="let item of cart; index as i">
                    <th class="itemCode" scope="row">{{i+1}}</th>
                    <td class="itemTitle">{{item.book.name}}</td>
                    <td class="itemUPrice">$ {{item.book.price}}</td>
                    <td class="itemQty">
                        <input [(ngModel)]="item.qty" class="form-control" type="number" [min]="1" [max]="item.book.qtyOnHand">
                    </td>
                    <td class="itemPrice">$ {{item.book.price * item.qty}}</td>
                    <td class="itemAction">
                        <button type="button" class="btn btn-outline-danger" (click)="removeItemFromCart(item)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <ng-template #emptyCart>
                <tbody>
                    <tr>
                        <td colspan="6" style="height: 10rem; background: #eee; text-align: center; align-content: center; font-size: large;">
                            Empty...
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </section>
    <section class="d-grid gap-2 d-md-flex justify-content-md-end" id="cartBottom">
        <button *ngIf="!isEmptyCart()" class="btn btn-primary" type="button" (click)="checkout()">Checkout</button>
    </section>
</div>